/* No longer used */
/* .components-panel__body-static {
	padding: 16px;
}

.components-panel__body-static span {
	font-weight: 500;
	color: #1e1e1e;
}

.components-panel__body-static .components-button.has-icon {
	padding: 0px;
	min-width: 24px;
} */
