.components-panel__body-static {
	padding: 0 48px 16px 0;

	& span {
		font-weight: 500;
		color: #1e1e1e;
	}

	& + .components-panel__row {
		margin-top: 0;
	}

	& .components-button.has-icon {
		padding: 0px;
		min-width: 24px;
	}

	& .components-dropdown-menu {
		position: absolute;
		right: 16px;
	}
}
