.components-panel__body-static {

	& span {
		font-weight: 500;
		color: #1e1e1e;
	}

	& + .components-panel__row {
		margin-top: 0;
	}

	& .components-button.has-icon {
		padding: 0px;
		min-width: 24px;
	}

	& .components-dropdown-menu {
		position: absolute;
		right: 16px;
	}
}

.writers-blocks__panel-row {
	align-items: flex-start;

	& .components-button.has-icon {
		margin-top: -8px;
	}
}
