.writers-blocks__toggle {

    &.spell {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--spell);
        }
    }

    &.simplify {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--simplify-dark);
        }
    }

    &.intensify {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--intensify-dark);
        }
    }

    &.passive {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--passive-dark);
        }
    }

    &.readability {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--readability-dark);
        }
    }

    &.equality {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--equality-dark);
        }
    }

    &.profanities {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--profanity-dark);
        }
    }

    &.redundant_acronyms {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--redundant-acronyms-dark);
        }
    }

    &.sentence_spacing {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--sentence-spacing-dark);
        }
    }

    &.indefinite_article {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--indefinite-article-dark);
        }
    }

    &.contractions {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--contractions-dark);
        }
    }

    &.repeated_words {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--repeated-words-dark);
        }
    }

    &.diacritics {

        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--writers-blocks--color--diacritics-dark);
        }
    }

    &.noun {
            
        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--oc-red-4);
        }
    }

    &.conjunction {
            
        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--oc-green-4);
        }
    }

    &.verb {
            
        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--oc-blue-4);
        }
    }

    &.adverb {
            
        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--oc-grape-4);
        }
    }

    &.adjective {
            
        & .components-form-toggle.is-checked .components-form-toggle__track {
            background-color: var(--oc-yellow-4);
        }
    }
}
