.annotation-text-writers-blocks--ignored {
    background-color: transparent !important;
}

.annotation-text-writers-blocks--adverb {
    background-color: #c4e3f3 !important;
}

.annotation-text-writers-blocks--passive {
    background-color: #c4ed9d !important;
}

.annotation-text-writers-blocks--readability {
    background-color: #f7ecb5 !important;
}

.annotation-text-writers-blocks--simplify {
    background-color: #e3b7e8 !important;
}

.annotation-text-writers-blocks--profanities {
    background-color: #e4b9b9 !important;
}

.annotation-text-writers-blocks--equality {
    background-color: #e3b7e8 !important;
}

.annotation-text-writers-blocks--intensify {
    background-color: #c4e3f3 !important;
}

.annotation-text-writers-blocks--contractions {
    background-color: #c4e3f3 !important;
}

.annotation-text-writers-blocks--sentence-spacing {
    background-color: #c4e3f3 !important;
}
