.annotation-text-writers-blocks--adverb {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--passive {
    background-color: #c4ed9d;
}

.annotation-text-writers-blocks--weasel {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--hedge {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--so {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--readability-hard {
    background-color: #f7ecb5;
}

.annotation-text-writers-blocks--readability-very-hard {
    background-color: #e4b9b9;
}

.annotation-text-writers-blocks--simpler {
    background-color: #e3b7e8;
}

.annotation-text-writers-blocks--profanity {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--equality {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--filler {
    background-color: #c4e3f3;
}

.annotation-text-writers-blocks--cliche {
    background-color: #c4e3f3;
}
