body {
    /* Base Colors: Extracted from Tailwind.css */
    --writers-blocks--color--pink: #FBCFE8;
    --writers-blocks--color--red: #FECACA;
    --writers-blocks--color--orange: #FED7AA;
    --writers-blocks--color--yellow: #FEF9C3;
    --writers-blocks--color--lime: #ECFCCB;
    --writers-blocks--color--green: #A7F3D0;
    --writers-blocks--color--teal: #99F6E4;
    --writers-blocks--color--cyan: #A5F3FC;
    --writers-blocks--color--blue: #BFDBFE;
    --writers-blocks--color--violet: #DDD6FE;
    --writers-blocks--color--fuchsia: #F5D0FE;
    --writers-blocks--color--purple: #D8B4FE;

    /* Style Colors */
    --writers-blocks--color--simplify: var(--writers-blocks--color--blue);
    --writers-blocks--color--intensify: var(--writers-blocks--color--cyan);
    --writers-blocks--color--passive: var(--writers-blocks--color--green);
    --writers-blocks--color--readability: var(--writers-blocks--color--orange);
    --writers-blocks--color--equality: var(--writers-blocks--color--purple);
    --writers-blocks--color--profanity: var(--writers-blocks--color--red);
    --writers-blocks--color--contractions: var(--writers-blocks--color--yellow);
    --writers-blocks--color--diacritics: var(--writers-blocks--color--pink);
    --writers-blocks--color--indefinite-article: var(--writers-blocks--color--teal);
    --writers-blocks--color--repeated-words: var(--writers-blocks--color--fuchsia);
    --writers-blocks--color--redundant-acronyms: var(--writers-blocks--color--violet);
    --writers-blocks--color--sentence-spacing: var(--writers-blocks--color--lime);
}
