@import url("open-color/open-color.css");

body {
    --writers-blocks--color--simplify: var(--oc-teal-1);
    --writers-blocks--color--simplify-dark: var(--oc-teal-4);
    --writers-blocks--color--assuming: var(--oc-gray-4);
    --writers-blocks--color--assuming-dark: var(--oc-gray-6);
    --writers-blocks--color--cliche: var(--oc-gray-4);
    --writers-blocks--color--cliche-dark: var(--oc-teal-8);
    --writers-blocks--color--spell: var(--oc-red-8);
    --writers-blocks--color--spell-dark: var(--oc-red-6);
    --writers-blocks--color--intensify: var(--oc-blue-1);
    --writers-blocks--color--intensify-dark: var(--oc-blue-4);
    --writers-blocks--color--passive: var(--oc-green-1);
    --writers-blocks--color--passive-dark: var(--oc-green-4);
    --writers-blocks--color--readability: var(--oc-orange-1);
    --writers-blocks--color--readability-dark: var(--oc-orange-4);
    --writers-blocks--color--equality: var(--oc-violet-1);
    --writers-blocks--color--equality-dark: var(--oc-violet-4);
    --writers-blocks--color--profanity: var(--oc-red-1);
    --writers-blocks--color--profanity-dark: var(--oc-red-4);
    --writers-blocks--color--contractions: var(--oc-yellow-1);
    --writers-blocks--color--contractions-dark: var(--oc-yellow-4);
    --writers-blocks--color--diacritics: var(--oc-pink-1);
    --writers-blocks--color--diacritics-dark: var(--oc-pink-4);
    --writers-blocks--color--indefinite-article: var(--oc-indigo-1);
    --writers-blocks--color--indefinite-article-dark: var(--oc-indigo-4);
    --writers-blocks--color--repeated-words: var(--oc-cyan-1);
    --writers-blocks--color--repeated-words-dark: var(--oc-cyan-4);
    --writers-blocks--color--redundant-acronyms: var(--oc-grape-1);
    --writers-blocks--color--redundant-acronyms-dark: var(--oc-grape-4);
    --writers-blocks--color--sentence-spacing: var(--oc-lime-1);
    --writers-blocks--color--sentence-spacing-dark: var(--oc-lime-4);
}
